<html>
	<head>
		<title>Update</title>
	</head>
<body>
<form method="post" action="/update/{{.member.Id}}">
<input type="text" name="First_Name" value="{{.member.First_Name}}" />&#160;
<input type="text" name="Last_Name" value="{{.member.Last_Name}}" />&#160;
<button>Update</button>
</form>
</body>
</html>